<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script> 
<meta charset="UTF-8">

<title>Formulario de solicitação</title>
<div align="center">
<a> <img src="https://files.cercomp.ufg.br/weby/up/1302/o/DLOG_UFG_PRETO.svg?1613059566"
     alt="DLOG_UFG_PRETO.svg"
     width="180"
     height="70"
     border="50%"  
     >  
<img src="https://files.cercomp.ufg.br/weby/up/1/o/Marca_UFG_cor_completa_horizontal.png"
     alt="logoUFGDlog.jpg"
     width="180"
     height="110"
     border="50%"></a>
   
     
<style type="text/css">
fildset{margin-left: 8%; margin-right: 8%;}
table{
width: 96%;
}
label{ color: Black; }
table{ font-size: 10px; margin-left: 1%; margin-right: 1%}
div{font-size: 9px; margin-left: 2%}
fieldset{margin-left: 2%; margin-right: 2%;}
table td, table th{
border: 1px solid grey;
}
table th{
background: #eee;
 }
</style>      


<h5>Formulario de solicitação de veiculos</h5>
</div>
    <div  align="center">
	  <label for="user" class="active">  Usuario     </label> 
	</div>  
	<div  align="center" style="color: Blue">
	 <b><label name="user" id="user" style="color: Blue; font-size: 14px" class="active"th:text="${nome}"/></b>
		
	       <div th:each = "un : ${unidade}" style="font-size: 18px;">
             <b> <span th:text="${un}"></span></b>
           </div>
    </div>
</head>
<body>
  <fieldset>
   <legend>Lista de solicitações</legend>
           <table  class="striped">
         <thead>
         <tr>
          <th>Data envio</th>
          <th>Início</th>
          <th>Final</th>
          <th>Requisição</th>
          <th>Especie</th>
          <th>Destino</th>
          <th>Solicitante</th>
          <th>Unidade</th>
          <th>Observação</th>
          <th>Aceite</th>
          <th>Id</th>

         </tr>         
         </thead>
       <tr th:each= "l:${lista}" >
          <td style ="color:Blue; " th:text="${#dates.format(l.data_solicitacao, 'dd/MM/yyyy')}"></td>
          <td style ="color:Blue; " th:text="${#dates.format(l.data_ini, 'dd/MM/yyyy')}">
          <td style ="color:Blue;" th:text="${#dates.format(l.data_fim, 'dd/MM/yyyy')}">
          <td style ="color:Blue;" th:text="${l.requisicao}">
          <td style ="color:Blue;" th:text="${l.especie}">
          <td style ="color:Blue;" th:text="${l.destino}">
          <td style ="color:Blue;" th:text="${l.solicitante}">
          <td style ="color:Blue;" th:text="${l.nome_unidade}">
          <td style ="color:Blue;" th:text="${l.observacao}">
          <td style ="color:Blue;" th:text="${l.aceite}">
         <b> <td style ="color:Red;" th:text="${l.id}"></b>
        </tr>
       </table>   
  
  </fieldset>
           <div th:each = "m : ${msg}" style="font-size: 18px; color: Red;">
             <b> <span th:text="${m}"></span></b>
           </div >


      
<script >
function mascara(o,f){
    v_obj=o
    v_fun=f
    setTimeout("execmascara()",1)
}
function execmascara(){
    v_obj.value=v_fun(v_obj.value)
}
function mtel(v){
    v=v.replace(/\D/g,""); //Remove tudo o que não é dígito
    v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
    v=v.replace(/(\d)(\d{4})$/,"$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
    return v;
}
function id( el ){
	return document.getElementById( el );
}
window.onload = function(){
	id('contato').onkeyup = function(){
		mascara( this, mtel );
	}
}
</script>

  <form action="salvarsolicitacao" class="col s11" method="post" th:if="${nome!=null&&nome!=''}">
   <fieldset>
    <legend>Cadastro de solicitação</legend>
    <div class="row">
      <div class="input-field col s5">
	    <label for="especie" class="active" style="color: Black">Escolha de tipo de veículo</label>
		<select class="browser-default"  id="especie" name="especie" autofocus="autofocus">
		<option th:each = "e : ${especie}" th:value="${e.cd_especie}" th:text="${e.especie}">
		</select>
	  </div> 
      	 <div class="input-field col s3">
		  <label for="ini" class="active">Data início</label> 
		  <input name="ini"  id="ini"  class="validate" type="date">
		 </div>	
      	 <div class="input-field col s3">
		  <label for="fim" class="active">Data final</label> 
		  <input name="fim"  id="fim"  class="validate" type="date">
		 </div>		
      	 <div class="input-field col s4">
		  <label for="destino" class="active">Destino</label> 
		  <input name="destino"  id="destino"  class="validate" type="text">
		 </div>		
      	 <div class="input-field col s4">
		  <label for="motivo" class="active">Motivo da solicitação</label> 
		  <input name="motivo"  id="motivo"  class="validate" type="text">
		 </div>	
      <div class="input-field col s3">
	    <label for="requisicao" class="active" style="color: Black">Viagem ou Urbana?</label>
		<select class="browser-default"  id="requisicao" name="requisicao" >
		<option th:each = "r : ${requisicao}" th:value="${r.cod_req}" th:text="${r.requisicao}">
		</select>
	  </div>
	
      	 <div class="input-field col s4">
		  <label for="contato" class="active">Contato telefônico</label> 
		  <input name="contato"  id="contato"  class="validate" type="tel">
		 </div>		
		 <div class="input-field col s3">
		 <b><input class="waves-effect waves-light btn" type="submit" value="Salvar"/></b>
		 </div>	
		<div class="input-field col s3">
		 <div align="right" >
		  <a class="waves-effect waves-light btn" type="button" th:href="@{/inicio}">Sair</a>
		</div>
		</div>	
        		
      </div>       		 		 	 	   
   </fieldset>
  </form>


</body>
</html>